.overviews {
  margin: 10px 2% 0 10px;
  padding: 2%;
  width: 80%;
  border-radius: 5px;
}

.overview--timings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.overviews__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color:#000;
}

.overview {
  display: flex;
  justify-content: space-around;
  border: 3px solid #c9e0f1;
  border-radius: 5px;
  margin: 87px 0 0;
  padding: 35px 20px;
  width: 76%;
  min-height: 500px;
}

.overviewinfo__details {
  width: 50%;
  color: #000;
}
@media only screen and (max-width: 600px) {
  .overviewinfo__details {
    width: 100%;
    margin-left: 30px;
  }
}

.overviewinfo__timings span{
  color: #a79bb2;
}

.overviewinfo__logo {
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
}

.overviewinfo__logo .airline {
 
  width: 100px;
  height: 95px;
  background-size: 100px 95px;
  background-repeat: no-repeat;
  margin:10px auto;
}

.overviewinfo__departure, overviewinfo__return {
  width: 50%;
  float: left;
}


.indigo {
  background-image: url(/images/indigo_logo.jpg);
}
.spicejet {
  background-image: url(/images/spicejet_logo.jpg);
  background-size: 100px;    
}

.booking--button {
  width: auto;
  height: 40px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  background:#A7F432;
  border: none;
  color:#000;
  margin-bottom:15px;
}

@media only screen and (max-width: 600px) {
  .overviews {
    width: 94%;
    padding: 10px;
  }

  .overview {
    flex-direction: column;
    align-items: center;
  }
}

.overview_availableseats {
       color: #3f51b5;
       font-size: 16px;
       font-weight: bold;
       text-align: center;
       margin-bottom: 15px;
      }
  .overview_noavailable{
    text-align: center;
    padding: 100px;
    color:#fff;
    font-size: 1.5rem;
  }
  .overview__headertitle{
    font-size: 1.5rem;
  }
  .overview--timings span{
    font-size: 1rem;
  }
  .booking--button{
    cursor: pointer
  }
  .booking--button:disabled {
    background-color: aqua;
    cursor: default;
}